{{#if this.loadData.isRunning}}
  <div class="h-64 w-full flex items-center justify-center text-gray-700" ...attributes>
    <Loader @label="Statistiek aan het maken..." />
  </div>
{{else}}
  <canvas
    {{did-insert this.draw}}
    ...attributes>
  </canvas>
{{/if}}

{{yield}}