{{page-title "BBW"}}

<div class="max-w-2xl mx-auto">
  {{#if this.session.isAuthenticated}}
    <nav class="mt-4 flex items-center justify-center space-x-4" aria-label="Tabs">
      <LinkTo @route="index"
        @activeClass="!bg-violet-100 !text-violet-700"
        class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md focus:outline-none focus:ring-2 focus:ring-violet-900">
        Repetities
      </LinkTo>
      <LinkTo @route="people"
        @activeClass="!bg-violet-100 !text-violet-700"
        class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md focus:outline-none focus:ring-2 focus:ring-violet-900">
        Muzikanten
      </LinkTo>
    </nav>
  {{/if}}

  {{outlet}}
</div>